{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />

        <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ asset('css/sb-admin-2.css') }}">
    <!-- Custom Fonts -->
     <link rel="stylesheet" href="{{ asset('font-awesome-4.1.0/css/font-awesome.css') }}" type="text/css">
     
    <!-- Custom Frontend CSS -->
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock %}

{% block title 'Chat' %}

{% block body %}

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('chat_homepage') }}">Chat</a>
            </div>
            <!-- /.navbar-header -->
            
            <ul class="nav navbar-top-links navbar-right">
                {% render(controller('AppBundle:Menu:user'))  %}
            </ul>
            <!-- /.navbar-top-links -->
        </nav>

        <div id="page-wrapper">
            
            {% for flashMessage in app.session.flashbag.get('error') %}
                <br />
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <em>Ошибка</em>: {{ flashMessage }}
                </div>
            {% endfor %}
        
            {% block content %}{% endblock %}
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    
{% endblock %}

{% block javascripts %}
    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    
    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ asset('js/plugins/metisMenu/metisMenu.min.js') }}"></script>
    
    <!-- Custom Theme JavaScript -->
    <script src="{{ asset('js/sb-admin-2.js') }}"></script>
{% endblock %}
