{% extends 'DenChatBundle::layout.html.twig' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Вход в систему</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="{{ path("_security_check") }}" method="post" id="login" data-toggle="validator">
                            <fieldset>
                                
                                <div class="form-group">
                                    {% block hwi_oauth_content %}
                                        {% if error is defined and error %}
                                            <span>{{ error }}</span>
                                        {% endif %}
                                        
                                        <label>Войти через:</label>
                                        {% for owner in hwi_oauth_resource_owners() %}
                                        <a href="{{ hwi_oauth_login_url(owner) }}">{{ owner | trans({}, 'HWIOAuthBundle') }}</a> <br />
                                        {% endfor %}
                                    {% endblock hwi_oauth_content %}
                                </div>
                            
                                {% if error %}
                                    <div class="form-group">
                                        <div class="error text-danger">{{ error.message }}</div>
                                    </div>
                                {% endif %}
                                <div class="form-group">
                                    <label for="username">Адрес электронной почты</label>
                                    <input id="username" class="form-control" placeholder="email@mail.ru" name="_username" type="text"  value="{{ last_username }}" required sautofocus>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label for="password">Пароль</label>
                                    <input id="password" class="form-control" placeholder="Пароль" name="_password" type="password" value="" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group text-center">
                                    <!-- Change this to a button or input when using this as a form -->
                                    <button type="submit" class="btn btn-success">Войти</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    
    <!-- Bootstrap Validator JavaScript -->
    <script src="{{ asset('bundles/cgfrontend/js/validator.js') }}"></script>
{% endblock %}